.Content--Image,
.Content img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 2.5rem;
}

.Content ol, .Content ul {
  font-size: 2.2rem;
  padding-left: 2rem;
}

.Content--Iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.Content--Iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Table-container {
  overflow-x:auto;
}
.Table-container::-webkit-scrollbar {
  height: 0.4rem;
}

.Table {
  --borderTableColor: #ebebeb;
  border-collapse: collapse;
  margin: 3vw 0;
  width: 100%;
}

.Table td, 
.Table th {
  padding: 16px;
  text-align: left;
}

.Table th {
  background-color: var(--borderTableColor);
  font-size: 20px;
  text-align: center;
}

.Table td {
  background-color: #fafafa;
}

.Table td svg {
  vertical-align: text-top;
  color: var(--primaryLight);
}

.Table tr + tr td {
  border: 1px solid var(--borderTableColor);
}

.Table th.thLeft {
  border-radius: var(--borderRadius) 0 0 0;
}
.Table th.thRight {
  border-radius: 0 var(--borderRadius) 0 0;
}

.Table th.thEmpty {
  background-color: #fff;
  border-color: #fff;
}

.videoYoutube {
  width: 100%;
  height: 315px;
}



@media (min-width: 1024px) {
  .Table-container {
    overflow-x: hidden;
  }
  .videoYoutube {
    width: 560px;
  }
}