.footer {
  padding: 3rem 0;
  background: var(--primary);
  font-size: 1.6rem;
  color: var(--primaryLight);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer nav li {
  display: inline-block;
}

.footer nav li:not(:last-child) {
  margin-right: 2rem;
}

.footer .Logo {
  width: 200px;
}

.footer a {
  text-decoration: none;
  color: var(--primaryLight);
  display: flex;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:hover svg:not(.Logo) {
  stroke: var(--secondary);
  transform: scale(0.9);
  transition: all linear .1s;
}

.footer small {
  font-size: 100%;
}

@media (max-width: 600px) {
  .footer .container {
    flex-direction: column;
  }
  .social {
    margin: 4rem 0 2rem;
  }
}

