.footer {
  padding: 3rem 0;
  background: var(--primary);
  font-size: 1.6rem;
  color: var(--primaryLight);
}

.footer .container {
  display: flex;
  justify-content: center;
}

.footer .container + .container {
  align-items: center;
  flex-direction: column;
}

.footer nav {
  text-align: center;
}

.footer nav li {
  display: inline-block;
  margin: 0 1rem;
}

.footer .Logo {
  width: 200px;
}

.footer a {
  text-decoration: none;
  color: var(--primaryLight);
}

.footer a:hover {
  text-decoration: underline;
}

.footer small {
  font-size: 100%;
}

