.footer {
  padding: 3rem 0;
  background: var(--darkGrey);
  font-size: 1.6rem;
  color: white;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer nav li {
  display: inline-block;
}

.footer nav li:not(:last-child) {
  margin-right: 2rem;
}

.footer .Logo {
  width: 200px;
}

.footer a {
  text-decoration: none;
  color: white;
  display: flex;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:hover svg:not(.Logo) {
  opacity: .8;
  color: #fff;
  transform: rotate(10deg) scale(0.9);
  transition: all ease .2s;
}
.footer a svg.ch {
  fill: #fff;
}

.footer small {
  font-size: 100%;
}

@media (max-width: 1024px) {
  .footer .container {
    flex-direction: column;
  }
  .social {
    margin: 4rem 0 2rem;
  }
}

