:root {
  --primary: #487E86;
  --primaryLight: #D1E2DB;
  --secondary: #DBB246;
  --secondaryLight: #E7D198;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #C74817;
  --font-primary: 'Josefin Sans', sans-serif;
  --font-secondary: 'Caveat', cursive;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 20px;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: rgba(72, 126, 134, 0.6);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--darkGrey);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 5vw 0;
  border-bottom: 1px solid #f1f1f1;
}
.section--hero {
  background-color: var(--secondaryLight);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 3.5rem;
  background-color: #64a2ab;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23d1e2db' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%2364a2ab' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2362a0a9' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23619ea7' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%235f9ca4' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%235d99a2' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%235c97a0' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%235a959e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2358939c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23579199' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23558f97' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23538d95' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23528b93' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23508891' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%234e868f' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234d848c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%234b828a' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%234a8088' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23487e86' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.section--hero h3 {
  max-width: 70%;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 1px var(--primary);
}
.section h2 {
  font-size: 3rem;
}
.section:not(.section--hero) h3 {
  font-size: 2.4rem;
}
.section p + h3 {
  margin-top: 4rem;
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}




@media (max-width: 600px) {
  .section {
    width: 100%;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
  .section--hero {
    font-size: 2.8rem;
  }
  .section--hero h3 {
    max-width: 100%;
  }
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

.section p {
  font-size: 2rem;
  margin-top: 1rem;
}

/* Buttons */

.Button {
  background-color: var(--secondary);
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  /* display: inline-block; */
  padding: 1rem 3rem .8rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
  align-self: flex-start;
  margin-top: 3rem;
  box-shadow: 0 2px 25px 0 rgb(84 131 157 / 20%)
}
.Button:hover {
  background-color: var(--secondaryLight);
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Button--centered {
  margin: 4rem auto 0;
  display: block;
}


/* Lists */
.List {
  margin: 2rem 0 4rem;
}
.List li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.List li svg {
  margin-right: 2rem;
  flex-shrink: 0;
  align-self: flex-start;
}