.Header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}
.Header.Header-fixed {
  position: static;
  background-color: var(--primaryLight);
}

.Nav {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.Nav--Links {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.Nav--Links > * + * {
  margin-left: 1rem;
}

.Header .Logo {
  margin-right: 3rem;
  display: block;
}

.Nav--MenuButton {
  display: none !important;
}

.NavLink {
  padding: 0.5rem 1.5rem 0.4rem;
  display: block;
  font-weight: 500;
  transition: all ease 0.2s;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: var(--borderRadius);
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: var(--secondaryLight);
  border-color: currentColor;
}
.Nav--Group .NavLink:hover,
.Nav--Group .NavLink.active,
.Nav--Group .NavLink:focus {
  border-color: transparent;
}

.NavLink svg {
  vertical-align: middle;
}

.Nav--Group {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.Nav--GroupParent svg {
  margin-left: 8px;
  transition: 0.3s ease transform;
}
.Nav--GroupParent.active svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.Nav--GroupLinks {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 0;
  background: rgba(255,255,255, .15);
  /* opacity: 0; */
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
  border-radius: var(--borderRadius);
}

.Nav--Group.active .Nav--GroupLinks {
  max-height: 100vh;
  opacity: 1;
  transition: 0.6s ease all;
}

.Nav--GroupLink {
  display: block;
  position: relative;
  /* --borderRadius: 0; */
  color: #fff; 
}

@media (max-width: 1024px) {
  .Header .Nav--MenuButton {
    position: fixed;
    right: 2rem;
  }
  .Nav {
    display: flex;
  }

  .Nav--MenuButton {
    display: block !important;
    margin-left: auto;
    z-index: 1;
  }
  .Header .Logo {
    z-index: 1;
  }

  .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(38, 70, 83, .9);
    animation: Nav--Links 0.2s ease;
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Header-active .Nav--Links {
    display: flex;
  }

  .Header-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Header .NavLink {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--secondary);
  }

  .Header .NavLink:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  .Header .NavLink:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  .Header .NavLink:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  .Header .NavLink:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  .Header .NavLink:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  .Header .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  .Header .NavLink:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  .Header .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }

  .Nav--GroupLinks {
    position: relative;
    text-align: center;
  }

  .Nav--GroupLinks .NavLink {
    font-size: 1.8rem;
    width: auto;
  }
}

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .Nav--GroupLinks {
    width: 220px;
  }
}