.PageHeader {
  background-color: var(--primary);
  color: white;
  padding: 10rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 15rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 0;
  max-width: 70%;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 3.4rem;
  font-family: var(--font-secondary);
  line-height: 1.2;
  max-width: 80%;
}
.PageHeader--Subheading {
  font-family: var(--font-secondary);
  font-size: 4rem;
  color: var(--secondaryLight);
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
